@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model web_API8.ViewModels.AdddatabaseViewModel
@{
    ViewData["Title"] = "Adddatabase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-left">
    <h1 class="display-4">Database added: </h1>
    <ul>
          
        
        <li>@Model.DatabaseId, Name: @Model.Name, Last name: @Model.Engine</li>


        
    </ul>
    <form>
        <button asp-controller="Database" name="powrot2" value="powrot2" asp-action="powrot2">Back to home page</button>
        
    </form>
</div>